.gridcontainer {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 100px auto 100px;
}

header,
footer {
    background-color: bisque;
    width: 100%;
    text-align: center;
    grid-column: 1/4;
    
}

nav {
    background-color: aquamarine;
    padding: 10px;
    grid-column: 1/2;

}

main {
    padding: 10px;
    grid-column: 2/3;
}

article {
    background-color: beige;
    padding: 10px;
    grid-column: 3/4;
}