.gridcontainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 50px auto 100px 50px
}

header {
    grid-row: 1/2;
    background-color: bisque;
    /* width: 100%; */
    text-align: center;
}

nav {
    background-color: aquamarine;
    padding: 10px;
    grid-row: 2/3;

}

main {
    padding: 10px;
    grid-row: 3/4;
}

article {
    background-color: beige;
    padding: 10px;
    grid-row: 4/5;
}

footer {
    grid-row: 5/6;
    background-color: bisque;
    width: 100%;
    text-align: center;
}